@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #000;
  --font-default: var(--font-geist-mono);
  --font-creepster: 'Creepster';
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-mono), monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hover-trigger .hover-target {
  opacity: 0;
  pointer-events: none;
}

.hover-trigger:hover .hover-target {
  opacity: 1;
  pointer-events: auto;
}
